<div class="container-form">
  <h1> ¿Querés asociarte?</h1>
  <h2> Completá el formulario con tu información y formá parte de nosotros.</h2>
<form class="row g-3" novalidate [formGroup]="formSocios"(ngSubmit)="asociarse()">
  <div class="col-md-6">
    <label for="inputName" class="form-label">Nombre</label>
    <input formControlName="nombre" type="name" class="form-control" id="inputName">
    <div class="invalid" *ngIf="formSocios.controls['nombre'].untouched && formSocios.controls['nombre'].errors?.['required']" >Campo obligatorio</div>
  </div>

  <div class="col-md-6">
    <label for="inputApellido" class="form-label">Apellido</label>
    <input formControlName="apellido"  type="surname" class="form-control" id="inputApellido">
    <div class="invalid" *ngIf="formSocios.controls['apellido'].untouched && formSocios.controls['apellido'].errors?.['required']" >Campo obligatorio</div>
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Dirección</label>
    <input formControlName="direccion"  type="text" class="form-control" id="inputAddress">
  </div>
  <div class="col-md-6">
    <label for="inputDni" class="form-label">DNI</label>
    <input formControlName="dni" type="number" class="form-control" id="inputDni">
    <div class="invalid" *ngIf="formSocios.controls['dni'].untouched && formSocios.controls['dni'].errors?.['required']" >Campo obligatorio</div>
  </div>
  <div class="col-md-6">
    <label for="inputCountry" class="form-label">País</label>
    <input formControlName="pais" type="text" class="form-control" id="inputCountry">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Ciudad</label>
    <input formControlName="ciudad" type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-6">
    <label for="inputPostalCode" class="form-label">Código Postal</label>
    <input formControlName="codPostal" type="number" class="form-control" id="inputPostalCode">
  </div>
  <div class="col-md-6">
    <label for="inputPhone" class="form-label">Teléfono</label>
    <input formControlName="telefono" type="number" class="form-control" id="inputPhone">
  </div>
  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control" id="inputEmail">
    <div class="invalid" *ngIf="formSocios.controls['email'].untouched && formSocios.controls['email'].errors?.['pattern']" >email invalido</div>
    <div class="invalid" *ngIf="formSocios.controls['email'].untouched && formSocios.controls['email'].errors?.['required']" >Campo obligatorio</div>
  </div>
  <div class="col-md-6">
    <label for="inputPassword" class="form-label">Password</label>
    <input formControlName="contrasena" type="password" class="form-control " id="inputPassword">
    <div class="invalid" *ngIf="formSocios.controls['contrasena'].untouched && formSocios.controls['contrasena'].errors?.['minlength']" >Minimo 8 caracteres</div>
    <div class="invalid" *ngIf="formSocios.controls['contrasena'].untouched && formSocios.controls['contrasena'].errors?.['required']" >Campo obligatorio</div>
  </div>
  <div class="col-12">
    <label for="inputProf" class="form-label">Profesión</label>
    <input formControlName="profesion" type="text" class="form-control" id="inputProf">
  </div>
  <div class="col-12">
    <label for="inputCargo" class="form-label">Cargo</label>
    <input formControlName="cargo" type="text" class="form-control" id="inputCargo">
  </div>
  <div class="col-md-6">
    <label for="inputWork" class="form-label">Puesto de trabajo</label>
    <input formControlName="puesto" type="text" class="form-control" id="inputWork">
  </div>
  <div class="col-md-6">
    <label for="inputMatricula" class="form-label">Matricula</label>
    <input formControlName="matricula" type="number" class="form-control " id="inputMatricula">
    <div class="invalid" *ngIf="formSocios.controls['matricula'].untouched && formSocios.controls['matricula'].errors?.['required']" >Campo obligatorio</div>
  </div>
  <div class="span-error">{{spanError}}</div>
  <div class="col-12 boton">
    <button mat-raised-button>ASOCIARME</button>
  </div>
</form>
</div>
