.container-form {width: 40%;
margin-left: auto;
margin-right: auto;
color: #002653;}

.container-form h1{text-align: center;
align-items: center;
margin-bottom: 20px;
margin-top: 30px;
color: #ffc107;}

.container-form h2{ align-items: flex-end;
font-size: 1.2em;
margin-bottom: 40px;
color: #002653;}

.container-form .boton {margin: 40px auto;
  text-align: center;
}

