.container-form{width: 70%;
margin:50px  auto;
border-top: 1px solid grey;
border-bottom: 1px solid grey;
padding: 80px 30px 40px 30px;
color: #002653;}

.mat-mdc-raised-button
 {background-color: orange !important;
  color: #002653;}

 .boton
{margin: 20px auto;
text-align: center;
align-items: center;}



.example-margin {
  margin: 10px;
}
