<div class="container-footer">
  <hr>
  <h2>Patrocinadores</h2>
<div class="container-img">
  <img src="../../../assets/images/Patrocinador-SERAM-GUERBET.jpg" alt="img">
  <img src="../../../assets/images/Patrocinadores-SERAM-Agfa.jpg" alt="img">
  <img src="../../../assets/images/Patrocinadores-SERAM-apr-salud-1.jpg" alt="img">
  <img src="../../../assets/images/Patrocinadores-SERAM-Canon.jpg" alt="img">
  <img src="../../../assets/images/Patrocinadores-SERAM-PHILIPS.jpg" alt="img">
  <img src="../../../assets/images/Patrocinadores-SERAM-Quibim2.jpg" alt="img">
  <img src="../../../assets/images/Patrocinadores-SERAM-ROVI-2.jpg" alt="img">
  <img src="../../../assets/images/Patrocinadores-Siemens.jpg" alt="img">
</div>
<hr>
<div class="container-span">
  <span>Av. Patria 140 | 5000 - Córdoba</span>
  <span>+ 351698231</span>
  <span>secretaria@seram.com</span>
</div>
</div>
