<div class="container">
  <div class="container-img">
    <img src="../../../assets/images/Solicitala-antes-del-15-de-marzo-de-2023-ESOR.png" title="img">
  </div>
  <div class="container-info">
    <h2>CONVOCATORIA BECA ESOR 2023</h2>
    <p>El ESOR Visiting Scholarship Programme (Europa) ofrece una magnífica oportunidad para los residentes de radiología de 3º, 4º y 5º año para realizar una rotación de 3 meses en un centro europeo de calidad con un programa de formación tutorizado, eligiendo el propio becario el área de interés.</p>
    <p>Podés consultar las condiciones de la beca en:</p>
    <a  class="link" rel="noopener" target="_blank" href="https://www.esor.org/training-programmes/visiting-scholarship-programmes/visiting-scholarship-programme-europe/" > https://www.esor.org/training-programmes/visiting-scholarship-programmes/visiting-scholarship-programme-europe/</a>
  </div>
</div>
<div class="container-de-container">
  <h2>Noticias Recientes</h2>
  <hr>
  <div class="contenedor text-center d-flex justify-content-between align-items-center">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Nueva técnica guiada por ecografía para combatir la tendinosis aquílea crónica que padece el 6% de la población y hasta el 50% de los deportistas.
      </div>
      <img src="../../../assets/images/Imagen-del-articulo-en-revista-Radiologia.png" class="card-img" alt="img">
    </div>


    <div class="card" style="width: 18rem;">
      <div class="card-header">
        La embolización prostática, nuevo tratamiento efectivo y con menos complicaciones para la hiperplasia benigna de próstata.
      </div>
      <img src="../../../assets/images/NP_Prostata.png" class="card-img" alt="img">
    </div>



    <div class="card" style="width: 18rem;">
      <div class="card-header">
        El número de exploraciones cardíacas se ha triplicado en los últimos años, según la Sociedad Española de Radiología Medica.
      </div>
      <img src="../../../assets/images/Corazon-1536x1048.png" class="card-img" alt="img">
  </div>


    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Crioablación con ecografía para el tratamiento del cáncer de mama de bajo riesgo.
      </div>
      <img src="../../../assets/images/Maria-Jose-Roca.-La-Paz_-1.jpg" class="card-img" alt="img">
    </div>
  </div>
  </div>


  <div class="container-de-container">
    <div class="contenedor text-center d-flex justify-content-between align-items-center">
      <div class="contenedor-img d-flex justify-content-evenly">
    <img src="../../../assets/images/Foto-Tienda-Formacion-Editorial-2023.png" alt="img" width="300px">
    <div>
    <h3>Revista Radiología</h3>
    <h4>Volumen 65 y Num. 1</h4>
    <h5>Noviembre - Diciembre 2022</h5>
  </div>
  </div>
    <div class="contenedor-escrito">
    <h3> Radiología, fundada en 1912, es el Órgano de Expresión Científica Oficial de la Sociedad Española de Radiología Médica (SERAM).</h3>
    <h3>Radiología tiene una periodicidad bimestral, con 6 números al año. Publica dos ediciones (una en español y otra en inglés). Todos los artículos siguen un proceso de revisión por pares y doble ciego.</h3>
    <h3>Actualmente se encuentra indexada en Emerging Sources Citation Index (Thomson Reuters), Medline y EMBASE/Excerpta Médica entre otras bases bibliográficas.</h3>
  </div>
  </div>
  </div>
  <div class="cont-link">
  <a mat-button routerLink="/noticias" class="link-noticias2">Ver mas noticias >></a>
  </div>

  <div class="cont-socio">
    <hr>
    <h3 class="title-aso">¿Sabes los beneficios de asociarte?</h3>
    <div class="cont-p">
      <img src="../../../assets/images/diagnostico-por-imagenes.jpg" title="img">
      <div class="seram">
      <p> La SERAM es una organización médico-científica y profesional dedicada a promocionar entre sus Socios la docencia, desarrollo, defensa e investigación de todos los aspectos diagnósticos y terapéuticos relacionados con la imagen médica, dando a conocer sus actividades a la población general. </p>
      <p class="ventajas">Ventajas de pertenecer a la SERAM</p>
      <ul>
        <li>Acceso a publicaciones gratuitas.</li>
        <li>Descuentos en publicaciones de la especialidad.</li>
        <li>Acceso a documentos e informes que ayudan a fijar los estándares de calidad de nuestra profesión.</li>
        <li>Becas.</li>
        <li>Acceso a asesores propios que están a disposición de sus socios para resolver cualquier consulta.</li>
        <li>Posibilidad de precios de inscripción preferente en todos los cursos y congresos organizados por la SERAM y por sus secciones.</li>
      </ul>
      </div>
    </div>
    <a mat-button routerLink="/formulario-socios" class="link-socio">HAZTE SOCIO >></a>
  </div>

