.tabla {width: 80%;
margin: auto;}

.tarjeta
{margin: 10px;}

.color-card{background-color: #fff;
border: 1px solid grey;}

.card {width: 70%;
margin: 10px auto;}

.mat-raised-button{background-color:#f7b549 ;
}

.align {margin:5px auto;}
