<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/Slider-principal-SNC2023.png" class="d-block w-100" alt="slide">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/Slider-principal-Raqui2023-2.png" class="d-block w-100" alt="slide">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/Slider-principal-36-Congreso.png" class="d-block w-100" alt="slide">
    </div>
  </div>
</div>
