
.grid-container {display: grid;
grid-template-areas: "header header header header"
                      "slider slider slider slider"
                      "menu contenido contenido contenido"
                      "curso curso curso curso"
                      "alumno alumno alumno alumno"
                      "noticias noticias noticias noticias"
                      "form form form form";}

.grid-header{ grid-area: header;
color: #fff;
background-color: #002653;
font-family:  'Assistant', sans-serif;}

.grid-menu{grid-area: menu;
  font-family:  'Assistant', sans-serif;}

.grid-contenido{ grid-area: contenido;
  font-family:  'Assistant', sans-serif;}

.grid-slider{grid-area: slider;}

.grid-alumno {grid-area: alumno;}

.grid-form {grid-area: form;
  font-family:  'Assistant', sans-serif;}

.grid-cursos {grid-area:curso;
width: 100%;
color: #002653;}

.grid-noticias{ grid-area: noticias;
}
