.container {width: 80%;
margin: 30px auto;}

.container-img img{width: 100%;}

.container-info{align-items: center;
text-align: justify;}

.container-info h2{color: #002653;
margin-top: 30px;
font-size: 1.5em;}

.container-info .link {color: orange;}
