<!--
<div class="container-cards">
<div class="card" id="card">
  <div class="card-header">
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Tomografía Multislice</h5>
    <p class="card-text">Dirigido a licenciados en bio imágenes y técnicos radiologos. Duración 7 meses.  Teórico presencial - Práctico.</p>
    <a href="#" class="btn btn-warning">Ir al curso</a>
  </div>
</div>
<div class="card" id="card">
  <div class="card-header">
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Imagenología Mamaria</h5>
    <p class="card-text">Dirigido a licenciados en bio imágenes y técnicos radiologos. Duración 5 meses.  Teórico presencial - Práctico.</p>
    <a href="#" class="btn btn-warning">Ir al curso</a>
  </div>
</div>
<div class="card" id="card">
  <div class="card-header">
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Radiología Pediátrica</h5>
    <p class="card-text">Dirigido a licenciados en bio imágenes y técnicos radiologos. Duración 3 meses.  Teórico presencial - Práctico.</p>
    <a href="#" class="btn btn-warning">Ir al curso</a>
  </div>
</div>
</div>


<div class="card">
  <div class="card-body tarjeta" *ngFor="let curso of cursos">
    <mat-card class="color-card">
        <mat-card-header class="align">
          <mat-card-title>{{curso.titulo}}</mat-card-title>
        </mat-card-header>
      <mat-card-content class="align">Dirigido a licenciados en bio imágenes y técnicos radiologos. Duración {{curso.duracion}}. Modalidad {{curso.modalidad}}</mat-card-content>
      <mat-card-actions class="align">
        <button mat-flat-button> IR AL CURSO</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>-->

<app-section-cursos></app-section-cursos>
