
<div class="container-cards">
<div class="card" id="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Tomografía Multislice</h5>
    <p class="card-text">Dirigido a licenciados en bio imágenes y técnicos radiologos. Duración 7 meses.  Teórico presencial - Práctico.</p>
    <a href="#" class="btn btn-primary">Ir al curso</a>
  </div>
</div>
<div class="card" id="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Imagenología Mamaria</h5>
    <p class="card-text">Dirigido a licenciados en bio imágenes y técnicos radiologos. Duración 5 meses.  Teórico presencial - Práctico.</p>
    <a href="#" class="btn btn-primary">Ir al curso</a>
  </div>
</div>
<div class="card" id="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Radiología Pediátrica</h5>
    <p class="card-text">Dirigido a licenciados en bio imágenes y técnicos radiologos. Duración 3 meses.  Teórico presencial - Práctico.</p>
    <a href="#" class="btn btn-primary">Ir al curso</a>
  </div>
</div>
</div>
