.apariencia{width: 100%;
}
.container-all{display: flex;
  background-color: #04416d83}

.container-form{width: 20%;
margin:  100px auto;
}

.container-img{width: 70%;}

.container-img img {width: 100%;
  height: 800px;
object-fit: cover;}

.container-form h1{color: #002653;
  font-family: 'Assistant', sans-serif;
text-align: center;
align-items: center;}

.mat-mdc-raised-button
 {background-color: #002653!important;
}

.container-form .boton{
  text-align: center;
margin-top: 20px;}


.container-form .admin {
  padding: 15px;
  width: 70%;
  margin: auto;
text-align: center;
align-items: center;
;}

.mat-mdc-slide-toggle {color: #002653 !important;}



@media (min-width: 481px) and ( max-width: 850px) {
  .container-img{width: 50%;}
  .container-form{width: 30%;
    margin:  100px auto;
    }
}

@media (max-width: 480px) {
  .container-img{width: 0%;
  height: 280px;}
  .container-all{
    flex-direction: column
    }
    .container-form{width: 50%;
      margin:  100px auto;
      }

}


