* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer {font-size: 0.7em;
text-align: center;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
